# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.GameOf24.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Bardo\Documents\Code\GameOf24\.idea\.idea.GameOf24\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
